[submodule "libgaem/vendor/spdlog"]
	path = libgaem/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libgaem/vendor/glfw"]
	path = libgaem/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libgaem/vendor/catch2"]
	path = libgaem/vendor/catch2
	url = https://github.com/catchorg/Catch2.git
